[Desktop Entry]
Type=Application
Name=limelinux-store
Name[tr]=limelinux-store
GenericName=limelinux-store
GenericName[tr]=limelinux-market
Icon=lime-store
Exec=lime-store
Categories=System;Network;
Name[tr_TR]=lime-store
