[Desktop Entry]
Name=Application Store
Name[tr]=Uygulama Mağazası
GenericName=Add or Remove Software
GenericName[tr]=Yazılım Ekle ve Kaldır
Icon=limelinux-store
Type=Application
Exec=limelinux-store
Encoding=UTF-8
Categories=Qt;System;
Terminal=false