[Desktop Entry]
Type=Application
Name=System Updater
Name[tr]=Sistem Güncelleyici
GenericName=System Updater
GenericName[tr]=Sistem Güncelleyici
Icon=limelinux-updater
Exec=limelinux-updater
Encoding=UTF-8
Categories=Qt;System;
Terminal=false